# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Django
# =========================
db.sqlite3
media/

# =========================
# Virtual env
# =========================
.venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Static collect
# =========================
staticfiles/
